NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Supabase Pooled Connection String (port 6543) - used by app runtime & webhooks
DATABASE_URL=

# Supabase Direct Connection String (port 5432) - used by prisma migrate
DIRECT_URL=
